
.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(192, 192, 192, 0.404) 1px 1px 10px 1px;
    background-color: white;
  }

.control-panel{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .logout-btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(247, 74, 74);
  }

  .profile-btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }